<!-- INICIO SERVICOS -->

      <article class="servicos" id="servicos">
          <section class="services-sector">
              <div id="headline-serviços">
                  <h1 class="title">Meus <strong>Serviços</strong></h1>
              </div>
              <div id="services-section">
                  <div class="cards">
                      <div class="scard mb-1">
                          <div class="card-container">
                              <div class="front">
                                <strong>Desenvolvimento <br>Web</strong>
                                <img src="/assets/img/Web.svg" alt="">
                            </div>
                              <div class="back">
                                  <p>Transformo conceitos em experiências digitais envolventes e funcionais, abrangendo desde o design até a implementação do back-end.</p>
                              </div>
                          </div>
                      </div>
                      <div class="scard mb-1">
                          <div class="card-container">
                              <div class="front">
                                <strong>Design UX/UI</strong>
                                <img src="/assets/img/Design.svg" alt="">
    
                            </div>
                              <div class="back">
                                  <p>Crio interfaces intuitivas e designs atraentes, focando na experiência do usuário para websites e aplicativos, buscando a combinação perfeita entre estética e usabilidade.</p>
                              </div>
                          </div>
                      </div>
                      <div class="scard mb-1">
                          <div class="card-container">
                              <div class="front">
                                <strong>Soluções <br>E-Commerce</strong>
                                <img src="/assets/img/ecommerce.svg" alt="">
    
                            </div>
                              <div class="back">
                                  <p>Eleve o seu negócio online com soluções personalizadas, desde a concepção até o suporte contínuo, proporcionando uma experiência de compra excepcional para os seus clientes.</p>
                              </div>
                          </div>
                      </div>
                      <div class="scard mb-1">
                          <div class="card-container">
                              <div class="front">
                                <strong>Otimização <br> Websites</strong>
                                <img src="/assets/img/renovacao.svg" alt="">
    
                            </div>
                              <div class="back">
                                  <p>Modernize e aprimore a presença online da sua marca, garantindo desempenho e relevância com as mais recentes práticas e tecnologias da web.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </article>

<!-- FIM SERVICOS -->