<!-- INICIO PORTFOLIO -->

      <article class="portfolio" id="portfolio">
        <div class="col portfolio-section">
            <div id="headline-portfolio" class="text-center ">
              <h1 class="title">Meu <strong>Portfolio</strong></h1>
              <p class="subtit">Confira alguns dos meus melhores projetos de paginas</p>
            </div>
            

          <div class="row card-row">
            <div class="card" style="width: 18rem;">
              <img src="/assets/img/projeto-senai.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">JTD SENAI</h5>
                <p class="card-text">Landing Page promocional dedicada à divulgação dos cursos oferecidos na Jornada Transformação Digital do SENAI.</p>
                <div class="button-area row">
                  <a href="https://github.com/iu-dantas/senai-jtd.git" class="git-btn"><img src="/assets/img/GitHub-b.svg" alt=""></a>
                  <a href="https://senai-jtd.netlify.app/" class="btnn w-50">Acessar</a>
                </div>
                <div class="leia">
                  <a href="#">Veja mais sobre</a>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="/assets/img/projeto-baggio.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pizzaria Baggio</h5>
                <p class="card-text">Cardápio digital da Pizzaria Baggio, com layout responsivo e navegação intuitiva. Com integração via WhatsApp, facilitando a comunicação e o atendimento rápido.</p>
                <div class="button-area row">
                  <a href="https://github.com/iu-dantas/pizzariabaggio" class="git-btn"><img src="/assets/img/GitHub-b.svg" alt=""></a>
                  <a href="https://pizzariabaggio.netlify.app/" class="btnn w-50">Acessar</a>
                </div>
                <div class="leia">
                  <a href="#">Veja mais sobre</a>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="/assets/img/projeto-senai.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="button-area row">
                  <a href="#" class="git-btn"><img src="/assets/img/GitHub-b.svg" alt=""></a>
                  <a href="#" class="btnn w-50">Acessar</a>
                </div>
                <div class="leia">
                  <a href="#">Veja mais sobre</a>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="/assets/img/projeto-senai.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="button-area row">
                  <a href="#" class="git-btn"><img src="/assets/img/GitHub-b.svg" alt=""></a>
                  <a href="#" class="btnn w-50">Acessar</a>
                </div>
                <div class="leia">
                  <a href="#">Veja mais sobre</a>
                </div>
              </div>
            </div>
          </div>


        <div class="footline-portfolio row justify-content-center">
            <h1 class="title text-center">E <strong>varios</strong> outros</h1>
              <a href="#" class="btnn"><p>Conhecer Projetos</p></a>
        </div>
      </div>
    </article>

<!-- FIM PORTFOLIO -->
