<footer class="container-fluid contato" id="contato">
  <div class="row footer-layout">

    <section class="col-md-6" id="formulario-contato">
  <h1 class="title">Entre <strong>em</strong> contato!</h1>
  <form id="form-contato" action="https://formspree.io/f/xoqgwebg" method="POST">
    <div class="row mb-3">
      <div class="col">
        <input type="text" name="NOME:" class="form-control" id="nome" placeholder="Seu nome">
      </div>
      <div class="col">
        <input type="email" name="EMAIL:" class="form-control" id="email" placeholder="Seu email">
      </div>
    </div>
    <div class="mb-3">
      <input type="text" name="MOTIVO DE CONTATO:" class="form-control" id="motivo" placeholder="Motivo do contato">
    </div>
    <div class="mb-3">
      <textarea name="MENSAGEM:" class="form-control" id="mensagem" rows="5" placeholder="Conteúdo da mensagem"></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btnn">Enviar</button>
    </div>
  </form>
</section>


        <aside class="col-md-4" id="asidebar">
      <div id="aside-headline">
        <h1 class="title"><strong>iury d</strong></h1>
        <h3>frontend dev</h3>
        <p>"Construindo experiências digitais únicas onde a tecnologia encontra a arte."</p>
      </div>
      <ul id="aside-itens" class="list-unstyled col">
        <li><a class="text-decoration-none" href="#inicio">Inicio</a></li>
        <li><a class="text-decoration-none" href="#sobre">Sobre</a></li>
        <li><a class="text-decoration-none" href="#hability">Habilidades</a></li>
        <li><a class="text-decoration-none" href="#servicos">Serviços</a></li>
        <li><a class="text-decoration-none" href="#portfolio">Portfólio</a></li>
      </ul>

        <div class="social-links mt-3">
          <a href="https://www.instagram.com/iurydev/?next=%2F" class="instagram"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
          <a href="https://github.com/iu-dantas" class="github"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/iury-dantas-8a7aaa222/" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </aside>
  </div>
        <div class="copyright text-center">
        &copy; Copyright <span>Iury D - Portfolio</span>
      </div>
</footer>
