
footer {
  flex-wrap: wrap;
  padding: 2rem;
}

#formulario-contato {
    margin: 2rem 3rem;
}

#asidebar {
    margin: 2rem 3rem;
}

#aside-headline h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#aside-headline h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--color-white);
}

#aside-headline p {
  color: var(--color-white);
  font-size: 1rem;
  text-align: left;
  max-width: 15rem;
}

#aside-itens {
  gap: 1.5rem;
}

#aside-itens a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
}

#aside-itens a:hover {
  text-transform: uppercase;
  color: var(--color-primary);
}

form {
  gap: 1rem;
}

input {
  padding: 12px;
  border: 2px solid var(--color-white);
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

textarea {
    border: 2px solid var(--color-white);
  border-radius: 0.7rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

::placeholder {
  color: #000000;
}

.social-links a {
  color: #ffffff;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {

#formulario-contato {
    margin: 2rem 1rem;
}

#asidebar {
    margin: 2rem 0;
}

}

@media only screen and (max-width: 700px) {

    #formulario-contato {
    margin: 2rem 0;
}
}
