/* INICIO HABILIDADES */

#headline-habilidades {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#container-personagem {
  padding-bottom: 5rem;
}

#hability-card {
max-width: 30vw;
  padding: 2rem;
      backdrop-filter: blur(20px) saturate(92%);
    -webkit-backdrop-filter: blur(20px) saturate(92%);
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.hability p {
  font-weight: bold;
  padding: 0;
  margin: 4px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.hability-name {
  color: #ffffff;
}

.hability-porcent {
   color: #000000
}

.hability {
  padding: 2px;
}

#hability:hover .hability p {
  opacity: 1;
}

.hability-bar {
  display: flex;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #fff;
  border: 2px solid #1e1e1e;
  box-shadow: 4px 4px 0px 0px #1e1e1e;
}

.bar-porcent {
  width: 80%;
  height: 1.9vh;
  flex-shrink: 0;
  border-radius: 50px;
  background: rgba(0, 102, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#color-porcent1,
#color-porcent2,
#color-porcent3,
#color-porcent4,
#color-porcent5,
#color-porcent6 {
  width: 80%;
  height: 1.9vh;
  flex-shrink: 0;
  border-radius: 50px;
  background: #06f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  transition: width 1s ease-in-out;
}

#hability:hover #color-porcent1 {
  width: 100%;
}

#hability:hover #color-porcent2 {
  width: 80%;
}

#hability:hover #color-porcent3 {
  width: 30%;
}

#hability:hover #color-porcent4 {
  width: 70%;
}

#hability:hover #color-porcent5 {
  width: 30%;
}

#hability:hover #color-porcent6 {
  width: 5%;
}

#habilidadesbanner img {
max-height: 100vh;
}

#habilidadesbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#habilidadesbanner strong {
  font-family: "Fira Code", monospace;
  font-size: 30px;
}

#habilidadesbanner p {
  font-family: "Fira Code", monospace;
  color: #52cabb;
  font-size: 100%;
}

@media only screen and (max-width: 1024px) {

  #container-personagem {
    max-width: 100vw;
  gap: 2rem;
}

#hability-card {
max-width: 80vw;
position: relative;
left: 2rem;
}

#habilidadesbanner img {
max-width: 70vw;
}

}

@media only screen and (max-width: 700px) {

  #headline-habilidades h1, strong {
  text-align: center;
}

#hability-card {
  position: relative;
  left: 0;

}
}

/* FIM HABILIDADES */