<!-- INICIO HABILIDADES -->

<article class="habilidades" id="hability">
        <section id="habilidades" class="row d-flex justify-content-center align-itens-center"> 
          <div id="headline-habilidades" class="col">
            <h1 class="title">Minhas <strong>Habilidades</strong></h1>
          </div>

            <div id="container-personagem" class="row d-flex justify-content-center align-itens-center">
              <div id="hability-card" class="col">
                <div class="hability hability-top">
                  <p class="hability-name">HTML:</p>
                  <div class="hability-bar">
                    <div class="bar-porcent">
                      <div id="color-porcent1"></div>
                    </div>
                    <p class="hability-porcent">100%</p>
                  </div>
                </div>
                <div class="hability">
                  <p class="hability-name">CSS:</p>
                  <div class="hability-bar">
                    <div class="bar-porcent">
                      <div id="color-porcent2"></div>
                    </div>
                    <p class="hability-porcent">80%</p>
                  </div>
                </div>
                <div class="hability">
                  <p class="hability-name">JAVASCRIPT:</p>
                  <div class="hability-bar">
                    <div class="bar-porcent">
                      <div id="color-porcent3"></div>
                    </div>
                    <p class="hability-porcent">30%</p>
                  </div>
                </div>
                <div class="hability">
                  <p class="hability-name">FIGMA:</p>
                  <div class="hability-bar">
                    <div class="bar-porcent">
                      <div id="color-porcent4"></div>
                    </div>
                    <p class="hability-porcent">70%</p>
                  </div>
                </div>
                <div class="hability">
                  <p class="hability-name">ANGULAR:</p>
                  <div class="hability-bar">
                    <div class="bar-porcent">
                      <div id="color-porcent5"></div>
                    </div>
                    <p class="hability-porcent">30%</p>
                  </div>
                </div>
                <div class="hability">
                  <p class="hability-name">REACT:</p>
                  <div class="hability-bar">
                    <div class="bar-porcent">
                      <div id="color-porcent6"></div>
                    </div>
                    <p class="hability-porcent">5%</p>
                  </div>
                </div>
              </div>
      <div id="habilidadesbanner" class="col-md-6">
                <p><b>NIVEL:</b> JUNIOR</p>
                <p><strong>Iury</strong></p>
                <img src="/assets/img/habilidadesbanner.svg" />
              </div>
              </div>
        </section>
      </article>

<!-- FIM HABILIDADES -->