
<!--INICIO HEADLINE-->

<article class="hero-section">
  <section id="inicio" class="row text-center">
        <div id="headlinebanner" class="col  d-flex flex-column align-items-center">
      <img src="/assets/img/headlinebanner.svg" />
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <div id="headline">
      <h1 class="title col d-flex flex-column align-items-left">
        Iury Dantas <br> <strong>Web Designer</strong>
      </h1>
      </div>
      <div class="scroll mt-3">
        <div class="row justify-content-end">
          <div class="d-flex align-items-center">
            <p class="text-center">Role para mais</p>
            <img src="/assets/img/scroll.svg" alt="Scroll Icon"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<!-- FIM HEADLINE -->