<!-- INICIO SOBRE -->

<article class="sobre" id="sobre">
        <section id="containersobre" class="row text-left">

          <div id="container-head" class="col align-self-end flex-column">
                                     <h1 class="title">
             <strong>Sobre Mim</strong>
              </h1>
            <div id="headline-sobre">
                <p>
                  Olá, sou Iury Dantas, um entusiasta da tecnologia de 24 anos e atualmente no 4º semestre de Análise e Desenvolvimento de Sistemas na FAM. Desde cedo, tenho paixão pela área de artes e por conta da minha afinidade com a tecnologia acabei no universo do Web Design e Desenvolvimento Web.
                </p>
                <p>
                  Como desenvolvedor front-end, tenho o comprometimento de criar páginas web diferenciadas que impactam os usuários de maneira positiva. Minha jornada é marcada pela fusão de habilidade e hobby, encontrando no desenvolvimento uma forma única de expressar minha criatividade.
                </p>
                <p>
                  Seja bem-vindo ao meu mundo, onde a tecnologia se encontra com a arte para construir algo verdadeiramente especial.
                </p>
            </div>

<div class="button-area d-flex align-items-center">
    <a href="/assets/archives/Currículo.pdf" class="btnn" download>Baixar CV</a>
</div>
            
          </div>

                                  <div id="sobrebanner" class="col d-flex justify-content-center">
  <img src="/assets/img/sobrebanner.svg" alt="Sobre Banner" />
</div>
        </section>
      </article>

<!-- FIM SOBRE -->